<div class="container" style="border:thin">  
    <form #EditForm='ngForm' name="editform" (ngSubmit)="EditPatient(EditForm)" class="form-horizontal needs-validation"  >  
 
   
        <div class="form-group" >  
            <label  for="myPasNumber" >Pass Number</label>  
             <div >  
              <input type="text" class="form-control"  
               id="myPasNumber" placeholder="Enter Pass Number"  
               name="pasNumber"  required [(ngModel)]='objemp.PasNumber'  #PasNumber="ngModel">  
               <span style="color:red"   *ngIf="PasNumber.touched && !PasNumber.valid">Required</span>  
              
            </div>   
          </div>  
          
          <div class="form-group" >  
              <label  for="myForename" >Forename</label>  
               <div >  
                <input type="text" class="form-control"  
                 id="myForename" placeholder="Forename"  
                 name="forename"  required [(ngModel)]='objemp.Forenames'  #ForeName="ngModel">  
                 <span style="color:red"   *ngIf="ForeName.touched && !ForeName.valid">Required</span> 
              </div>   
            </div>  

            <div class="form-group" >  
                <label  for="mySurname" >Surname</label>  
                 <div >  
                  <input type="text" class="form-control"  
                   id="mySurname" placeholder="Enter Surname"  
                   name="surname"  required [(ngModel)]='objemp.Surname'  #SureName="ngModel">  
                   <span style="color:red"   *ngIf="SureName.touched && !SureName.valid">Required</span>
                </div>   
              </div> 


              <div class="form-group" >  
                  <label for="sexcode">Gender</label>  
              
 
<select name="SexCode"  id="sexcode" class="form-control" sexcode required [(ngModel)]='objemp.SexCode' #sexcode="ngModel">  
    <option value="0" selected disabled>Please Select</option>  
    <option value="1">Male</option>  
    <option value="2">Female</option>  
    <span class="help-bpx" *ngIf="sexcode.touched && !sexcode.valid ">required</span>  
  </select>  


                 
  </div>  
 

  
  <div class="form-group" >  
      <label  for="DateOfBirth" >Date Of Birth</label>  
       <div >  
          <input type="text" class="theme-blue" id="DateOfBirth" name="DateOfBirth"  placment="right"
          [bsConfig]="dpConfig"
         
          class="form-control"
          [(ngModel)]='objemp.DateOfBirth'
          bsDatepicker>
         
          

         
      </div>   

      


    </div>

 


   





 



              
      <div class="form-group">  
        <div class="col-sm-offset-2 col-sm-10">  
          <button type="submit" class="btn btn-primary">Save</button>  
        </div>  
      </div>  
    </form>  
  </div>  
  <button style="display:none" type="button" #closeBtn class="btn btn-default" data-dismiss="modal">Close</button>  